@import "tailwindcss";

.heroHome {
  background-image: url("/img//Rectangle88.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
@media (min-width: 969px) and (max-width: 1024px) {
  .course-tabs {
    padding-top: 30px;
  }
}
@media (min-width: 865px) and (max-width: 1024px) {
  .courses-start {
    padding-top: 30px;
  }
  .course-tabs {
    padding-top: 70px;
  }
}
@media (max-width: 767px) {
  .course-tabs {
    padding-top: 270px;
  }
}

@theme {
  --color-color-white: hsl(0 0% 100%);
  --color-color-black: hsl(0, 0%, 0%);
  --color-red-text: hsl(357, 96%, 58%);
  --color-main-color: hsl(21, 100%, 59%);
  --color-green-text: hsl(144, 100%, 39%);
  --color-third-color: hsl(218, 12%, 64%);
  --color-color-footer-gray: hsl(0, 0%, 96%);
  --color-hover-butten-gray: hsl(0, 0%, 95%);
  --color-second-color-text: hsl(216, 15%, 34%);
  --color-fourth-color-gray-bg: hsl(220, 13%, 91%);
  --color-hover-butten-main-color: hsl(21, 100%, 49%);
}
